@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define global colors as variables */
:root {
    --primary-color: hsl(47, 88%, 63%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

/* Set box-sizing to border-box for easier layout calculations */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Apply default font styles and colors */
body {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-color);
}

/* Headings styles */
h1,
h2,
h3 {
    font-weight: 800;
    color: var(--neutral-black);
}

p {
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1.625rem;
    background-color: var(--neutral-white);
    border-radius: 18px;
    border: 1px solid black;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.986);
    max-width: 60%;
}

.card__img {
    border-radius: 12px;
    max-width: 100%;
}

.card__post {
    display: flex;
    flex-direction: column;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    gap: 2.0vh;
}

.card__post--tag {
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 1vh;
    width: 30%;
    text-align: center;
}

.card__post--date {
    font-size: 14px;
    font-weight: 500;
    color: var(--neutral-black);
}

.card__post--title {
    font-size: 20px;
    font-weight: 800;
    color: var(--neutral-black);
}

.card__post--description {
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-grey);
    text-align: left;
}

.card__post--author {
    font-weight: 800;
    text-align: left;
}

.card__post--author-img {
    vertical-align: middle;
    width: 12%;
    margin-right: 10px;
}

@media (min-width: 800px) {
    .container {
        width: 48%;
        margin: auto;
    }

    .card {
        padding: 1.6rem;
        padding-bottom: .865rem;
        max-width: 40%;
    }

    .card__post {
        gap: 1.2rem;
    }

    .card__post--tag {
        margin-top: 1rem;
        padding: .425;
        width: 30%;
        text-align: center;
    }
}